---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Year-end, Portfolio, Personal, Kevin, Cunanan">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Title -->
    <title>2015 In A Nutshell</title>

    <!-- Favicon Ico -->
    <link rel="shortcut icon" href="images/favicon.png">

    <!-- =============================
                stylesheets
    ================================== -->
    {% include stylesheets.html %}
</head>
<style>
  .nav>li>a {
    padding: 5px 10px;
  }
</style>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="status"></div>
    </div>

    <!-- =============================
                    Header
    ================================== -->
    {% include header.html %}

    <!-- =============================
                Main Slider
    ================================== -->
    <section class="slider-pro uens-slider" id="uens-slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide uens-main-slides">
                <div class="uens-img-overlay"></div>

                <img class="sp-image" src="images/img-header/fireworks.png" alt="Fireworks"/>

                <h1 class="sp-layer uens-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="uens-highlight-texts">Goodbye</span> 2015.
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    It's been a crazy year, to say the least.
                </p>
            </div>
            <!-- Slides End -->

        </div>
    </section>
    <!-- Main Slider End -->

    <!-- =============================
                Custom Section
    ================================== -->
    {% assign counter = 0 %}

    {% for section in site.data.year %}
      {% assign check = counter | modulo:2 %}
      {% if check == 0 %}
          <section id="{{ section.number }}" class="bgc-one uens-custom-sec uens-section-wrapper uens-description">
              <div class="container">
                  <div class="row">
                      <!-- Section Header -->
                      <div class="col-md-12 col-sm-12 col-xs-12 uens-section-header wow fadeInDown">
                          <h2><span class="uens-highlight-text">{{ section.number }}</span></h2>
                          <div class="uens-section-divider"></div>
                          <h3 class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">{{ section.center-p }}</h3>
                      </div>
                      <!-- Section Header End -->

                      <div class="col-md-6 col-sm-6 col-xs-12 uens-custom-sec-img wow bounceInLeft">
                          <img src="images/{{ section.picture }}" alt="Custom Image">
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 uens-custom-sec-text wow bounceInRight">
                        <p>{{ section.p1 }}</p>
                        <p>{{ section.p2 }}</p>
                        <p>{{ section.p3 }}</p>
                      </div>
                  </div>
              </div>
          </section>
    <!-- Custom Section End -->

    {% elsif check == 1 %}

    <!-- =============================
                Custom Section
    ================================== -->
    <section id="{{ section.number }}" class="bgc-two uens-custom-sec uens-section-wrapper uens-description">

        <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 uens-section-header wow fadeInDown">
                  <h2><span class="uens-highlight-text">{{ section.number }}</span></h2>
                  <div class="uens-section-divider"></div>
                  <h3 class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">{{ section.center-p }}</h3>
              </div>

                <div class="col-md-6 col-sm-6 col-xs-12 uens-custom-sec-text wow bounceInRight">
                    <p>{{ section.p1 }}</p>
                    <p>{{ section.p2 }}</p>
                    <p>{{ section.p3 }}</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 uens-custom-sec-img wow bounceInLeft">
                    <img src="images/{{ section.picture }}" alt="Custom Image">
                </div>
            </div>
        </div>
    </section>
    <!-- Custom Section End -->
    {% endif %}
    {% assign counter = counter | plus:1 %}
    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section End -->
    <section class="footer-con">
        <div class="container">
            <div class="row footer-content">
                <div class="col-md-4">
                    <h3>About</h3>
                    <a href="kevincunanan.com"><img src="images/logo.png" alt=""></a>
                    <p>This website was built using Jekyll, Github Pages, and the Uens bootstrap template. If you have any questions, feel free to contact me. Happy Holidays and Happy New Year!</p>
                </div>
                <div class="col-md-4">
                    <h3>Section</h3>
                    <ul>
                        <li class="active">
                            <a href="#uens-slider">Home</a>
                        </li>
                        <li>
                            <a href="#screenshot">Portfolio</a>
                        </li>
                        <li>
                            <a href="#about">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 contac-us">
                    <h3>Contact Me!</h3>
                    <ul>
                        <li>I love taking on projects and making things look cool. Feel free to message me regarding anything though!</li>
                            <li><a href="https://www.facebook.com/kongkuaifan"><i class="fa fa-facebook"></i>Facebook</li></a>
                            <li><a href="http://kcunanan.tumblr.com/"></a><i class="fa fa-tumblr"></i>Tumblr</li></a>
                            <li><a href="https://www.linkedin.com/in/kevin-cunanan-760875a3"></a><i class="fa fa-linkedin"></i>LinkedIn</li></a>
                            <li><a href="https://www.pinterest.com/kevincunanan/"></a><i class="fa fa-pinterest"></i>Pinterest</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </section>

   <!-- =============================
                Footer Section
    ================================= -->
    <footer>

        <div class="container">
            <div class="row">
                <div class="uens-footer-content">

                    <ul class="uens-footer-social-info">
                        <li>
                            <a href="https://www.facebook.com/kongkuaifan"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://kcunanan.tumblr.com/"><i class="fa fa-tumblr"></i></a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com/kevincunanan/"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/kevin-cunanan-760875a3"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->


    <!-- =============================
                SCRIPTS
    ================================== -->
    {% include footer-scripts.html %}
</body>
</html>
