<header>

    <!-- Navigation Menu start-->
    <nav class="navbar uens-main-menu">
        <div class="container">

            <!-- Navbar Toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo -->
                <a class="navbar-brand" href="http://kevincunanan.com"><img class="logo" id="logo" src="images/logo.png" alt="logo"></a>

            </div>
            <!-- Navbar Toggle End -->

            <!-- navbar-collapse start-->
            <div id="nav-menu" class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav uens-menu-wrapper">
                    <li class="active">
                        <a href="#uens-slider">Home</a>
                    </li>
                    {% for section in site.data.year %}
                      <li>
                          <a href="#{{ section.number }}">{{ section.number }}</a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- navbar-collapse end-->

        </div>
    </nav>
    <!-- Navigation Menu end-->
</header>
<!-- Header End -->
