<header>

    <!-- Navigation Menu start-->
    <nav class="navbar uens-main-menu">
        <div class="container">

            <!-- Navbar Toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo -->
                <a class="navbar-brand" href="http://kevincunanan.com"><img class="logo" id="logo" src="images/logo.png" alt="logo"></a>

            </div>
            <!-- Navbar Toggle End -->

            <!-- navbar-collapse start-->
            <div id="nav-menu" class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav uens-menu-wrapper">
                    <li class="active">
                        <a href="#uens-slider">Home</a>
                    </li>
                    <li>
                        <a href="#p-1">1</a>
                    </li>
                    <li>
                        <a href="#p-2">2</a>
                    </li>
                    <li>
                        <a href="#about">3</a>
                    </li>
                    <li>
                        <a href="#about">4</a>
                    </li>
                    <li>
                        <a href="#about">5</a>
                    </li>
                    <li>
                        <a href="#about">6</a>
                    </li>
                    <li>
                        <a href="#about">7</a>
                    </li>
                    <li>
                        <a href="#about">8</a>
                    </li>
                    <li>
                        <a href="#about">9</a>
                    </li>
                    <li>
                        <a href="#about">10</a>
                    </li>
                    <li>
                        <a href="#about">11</a>
                    </li>
                    <li>
                        <a href="#about">12</a>
                    </li>
                    <li>
                        <a href="#about">13</a>
                    </li>
                    <li>
                        <a href="#about">14</a>
                    </li>
                    <li>
                        <a href="#about">15</a>
                    </li>
                </ul>
            </div>
            <!-- navbar-collapse end-->

        </div>
    </nav>
    <!-- Navigation Menu end-->
</header>
<!-- Header End -->
